<<<<<<< HEAD
table.InputForm {
    border: 1px solid black;
    border-spacing: 0px;    
}
table.InputForm td {
    border: 1px solid black;
    border-spacing: 0px;
}
td.Left {
    font-weight: bold;
    text-align: right;
}
td.SubmitClearButtons {
    background-color: darkseagreen
=======
form.InputForm {
    
>>>>>>> 0910dbc98c01d76a068d43f831ec8a2ae7df3228
}